Q.1 Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?

In [390]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2
b()
b()
b()
a

6

a=0 Initialization. It will go in function b and then value of a will be c(0) in function b. a is global. function c(0) will return 2. b() does not return anything as no argument is given b(). Now a will store 2, and then same procedure will be continued and return 4 in the end. Now, a = 4 and finally when we print a, which gets to a+2, it returns 6.

Q.2. Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
>>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", line 1, in <module> fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [392]:
def file_length(filename):
    file = open('Week 05 Lecture.ipynb')
    contents = file.read()
    file.close()
    print(len(contents))
file_length('Week 05 Lecture.ipynb')

118763

In [33]:
def file_length(filename):
    try:
        file = open('eek 05 Lecture.ipynb')
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File eek 05 Lecture.ipynb not found")
file_length('eek 05 Lecture.ipynb')

File eek 05 Lecture.ipynb not found

Q.3. Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0) >>> print(k) I am a Kangaroo located at coordinates (0,0) >>> k.put_in_pouch('doll') >>> k.put_in_pouch('firetruck') >>> k.put_in_pouch('kitten') >>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] >>> k.jump(1,0) >>> k.jump(1,0) >>> k.jump(1,0) >>> print(k) I am a Kangaroo located at coordinates (3,0)

In [7]:
class Marsupial:
    def __init__(self):
        self.pouch_content = []
            
    def put_in_pouch(self, pouch):
        self.pouch_content.append(pouch)
        return self.pouch_content
    
    def pouch_contents(self):
        return self.pouch_content

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [8]:

class Kangaroo(Marsupial):
    def __init__(self,xcoord,ycoord):
        Marsupial.__init__(self)
        self.xcoord = xcoord
        self.ycoord = ycoord
        
        
    def __str__(self):
        
       
        return "I am a Kangaroo located at coordinates {},{}".format(self.xcoord, self.ycoord)
    
    def jump(self, dx, dy):
    
        self.xcoord += dx
        self.ycoord += dy
         
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am a Kangaroo located at coordinates 0,0

['doll', 'firetruck', 'kitten']

In [9]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates 3,0

Q.4. Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { ð‘¥/2 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘’ð‘£ð‘’ð‘›3ð‘¥+1 ð‘–ð‘“ ð‘¥ ð‘–ð‘  ð‘œð‘‘ð‘‘
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [293]:
def collatz(x):
        
    while x!= 1:
        print(int (x))
        
        if x%2 == 0:
            x=x/2
        else:
            x=3*x+1
        
    print(int(x))
collatz(10)

10
5
16
8
4
2
1

In [227]:
collatz(1)

1

Q.5. Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [235]:
def binary(n):
   if n > 1:
            binary(n//2)
   print(n % 2,end = '')                  


binary(9)

1001

In [231]:
binary(1)

1

In [232]:
binary(3)

11

Q.6. Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [183]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
        inHeading = False                         #This inHeading = False, I took reference from this https://gist.github.com/RobinDavid/9196709
        inHeading2 = False
        def handle_starttag(self, tag, attrs):    #Before inHeading, my code was showing whole data instead of just h1 and h2 data. Don't know why. 
                                                  #When I wrote this inHeading, suddenly it worked fine. 
            if tag == 'h1':
                self.inHeading = True               
                print ("")
            if tag == 'h2':
                self.inHeading2 = True               
                print ("")
                
        def handle_endtag(self, tag):
            if tag == 'h1':
                self.inHeading = False
                print("")
            if tag == 'h2':
                self.inHeading2 = False
                print("")
        
        def handle_data(self, data):
            if self.inHeading:
                print(data)           #indentation 0
            if self.inHeading2:
                print("",data)        #indentation 1
    
infile = open('w3c.html')
content = infile.read()
infile.close()  
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

Q.9. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [341]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

word1 = []
for i in range(len(words)):
    words[i] = words[i].upper()
    word1.append(words[i])

print(word1)

word2 = []
for j in range(len(words)):
    words[j] = words[j].lower()
    word2.append(words[j])

print(word2)

word3 = [] 
for i in words:
    word3.append(len(i))
print(word3)

b = list(zip(word1,word2,word3))     #got to know about zip function from tutorialpoints. 
print(b)


word4 = []

for i in words:
    if len(i)>=4:
        word4.append(i)

print(word4)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]
['quick', 'brown', 'jumps', 'over', 'lazy']

Q.7. Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [68]:
from urllib.request import urlopen
from urllib.parse import urljoin
from re import findall 
from html.parser import HTMLParser
import textwrap
textwrap.indent
visited = set()


def indent(text, amount, ch='    '):
        return textwrap.indent(text, amount * ch)

def webdir(url):
    
    
    global visited     
    visited.add(url)
    print(url)
    
    links = depth(url)

    
    for link in links:
    
       
        print("in for "+link)
        if link not in visited:
            try:
                
                crawl2(link)
            except:
                pass

def depth(url):
    
   
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          

    return urls 

class Collector(HTMLParser):
  

    def __init__(self, url):
       
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
       
        return self.links

webdir('http://reed.cs.depaul.edu/lperkovic/test1.html')

http://reed.cs.depaul.edu/lperkovic/test1.html
in for http://reed.cs.depaul.edu/lperkovic/test2.html
in for http://reed.cs.depaul.edu/lperkovic/test3.html

In [342]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (7.29.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 42 kB 4.5 MB/s  eta 0:00:01
Requirement already satisfied: six in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: decorator in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pygments in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: pexpect>4.3 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: appnope in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: traitlets>=4.2 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: jedi>=0.16 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pickleshare in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in /Users/farazkhan/opt/anaconda3/lib/python3.9/site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=aec826c0b434757ffe56ba6bc5d14c44fdf54c5a7903fa79fae0d0ec7bff64ca
  Stored in directory: /Users/farazkhan/Library/Caches/pip/wheels/75/f7/28/77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

Q.8. Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [44]:


import sqlite3

conn = sqlite3.connect('web.db')                  #learnt how sql works in python from tutorialspoint. https://www.tutorialspoint.com/sqlite/sqlite_python.htm

conn.execute('''CREATE TABLE ASSIGNMENT
         (CITY NVARCHAR(50)     NOT NULL,
         COUNTRY NVARCHAR(50)   NOT NULL,
         SEASON NVARCHAR(50)    NOT NULL,
         TEMPERATURE REAL,
         RAINFALL    REAL);''')
print ("Table created successfully");

Table created successfully

In [45]:
conn = sqlite3.connect('web.db')
print ("Opened database successfully");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Mumbai', 'India', 'Winter', 24.8 , 5.9 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Mumbai', 'India', 'Spring', 28.4 , 16.2 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Mumbai', 'India', 'Summer', 27.9 , 1549.4 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Mumbai', 'India', 'Fall', 27.6 , 346.0 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('London', 'United Kingdom', 'Winter', 4.2 , 207.7 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('London', 'United Kingdom', 'Spring', 8.3 , 169.6 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('London', 'United Kingdom', 'Summer', 15.7 , 157.0 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('London', 'United Kingdom', 'Fall', 10.4 , 218.5 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Cairo', 'Egypt', 'Winter', 13.6 , 16.5 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Cairo', 'Egypt', 'Spring', 20.7 , 6.5 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Cairo', 'Egypt', 'Summer', 27.7 , 0.1 )");

conn.execute("INSERT INTO ASSIGNMENT (CITY,COUNTRY,SEASON,TEMPERATURE,RAINFALL) \
      VALUES ('Cairo', 'Egypt', 'Fall', 22.2 , 4.5 )");
 
conn.commit()

Opened database successfully

In [46]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("Opened database successfully");

cursor = conn.execute("SELECT CITY, COUNTRY, SEASON, TEMPERATURE, RAINFALL from ASSIGNMENT")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

Opened database successfully
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [47]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("All the temperature data");     #8(a)     

cursor = conn.execute("SELECT TEMPERATURE from ASSIGNMENT")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

All the temperature data
(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [49]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("All the cities without repetition");     #8(b)     

cursor = conn.execute("SELECT DISTINCT CITY from ASSIGNMENT")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

All the cities without repetition
('Mumbai',)
('London',)
('Cairo',)

In [53]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("All the records for India.");     #8(c)     

cursor = conn.execute("SELECT * from ASSIGNMENT WHERE COUNTRY = 'India'")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

All the records for India.
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [54]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("All the Fall records.");     #8(d)     

cursor = conn.execute("SELECT * from ASSIGNMENT WHERE SEASON = 'Fall'")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

All the Fall records.
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [55]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("The city, country, and season for which the average rainfall is between 200 and 400 millimeters."); #8(e)     

cursor = conn.execute("SELECT CITY, COUNTRY, SEASON from ASSIGNMENT WHERE RAINFALL BETWEEN 200 AND 400")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

In [58]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.."); #8(f)     

cursor = conn.execute("SELECT CITY, COUNTRY from ASSIGNMENT WHERE SEASON = 'Fall' AND TEMPERATURE>20 ORDER BY TEMPERATURE ASC")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order..
('Cairo', 'Egypt')
('Mumbai', 'India')

In [59]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("The total annual rainfall for Cairo.");     #8(g)     

cursor = conn.execute("SELECT SUM(RAINFALL) from ASSIGNMENT WHERE CITY = 'Cairo'")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

The total annual rainfall for Cairo.
(27.6,)

In [66]:
import sqlite3

conn = sqlite3.connect('web.db')
print ("The total rainfall for each season.");     #8(h)     

cursor = conn.execute("SELECT SUM(RAINFALL) SEASON from ASSIGNMENT")

myresult = cursor.fetchall()

for x in myresult:
    print(x)

The total rainfall for each season.
(2697.8999999999996,)